{% load static %}

<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>شبیه‌سازی معادلات لانچستر</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vazirmatn/Vazirmatn-font-face.css">
    <style>
        body {
            font-family: 'Vazirmatn', sans-serif;
        }

        .form-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: right;
        }

        .form-container .form-group {
            width: 75%;
        }

        .image-container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .war-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 20vh;
        }

        .group-a,
        .group-b {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 20px;
        }

        .soldiers {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 200px;
        }

        .soldier-a {
            display: inline-block;
            width: 4em;
            height: 4em;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url('{% static "blue-tank.svg" %}');
            animation: soldier-decrease 0.5s linear 2;
        }

        .soldier-b {
            display: inline-block;
            width: 4em;
            height: 4em;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url('{% static "red-tank.svg" %}');
            animation: soldier-decrease 0.5s linear 2;
        }

        .group-name {
            font-size: 20px;
            margin-top: 10px;
        }

        @keyframes soldier-decrease {
            0% {
                width: 4em;
                height: 4em;
            }
            100% {
                width: 3.7em;
                height: 3.7em;
            }
        }
    </style>
</head>
<body>
<div class="container my-5">
    <h1 class="text-center mb-4">شبیه‌سازی معادلات لانچستر</h1>
    <div class="form-container">
        <form method="post" class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="model_index">نوع مدل</label>
                <select class="form-control" id="model_index" name="model_index" onchange="toggleFields()">
                    <option value="1" {% if model_index == 1 %}selected{% endif %}>نبرد متقارن آتش مستقیم بدون شیوع
                        بیماری
                    </option>
                    <option value="2" {% if model_index == 2 %}selected{% endif %}>نبرد متقارن آتش مستقیم با شیوع
                        بیماری
                    </option>
                    <option value="3" {% if model_index == 3 %}selected{% endif %}>نبرد متقارن آتش غیرمستقیم بدون شیوع
                        بیماری
                    </option>
                    <option value="4" {% if model_index == 4 %}selected{% endif %}>نبرد متقارن آتش غیرمستقیم با شیوع
                        بیماری
                    </option>
                    <option value="5" {% if model_index == 5 %}selected{% endif %}>نبرد نامتقارن با شیوع بیماری</option>
                    <option value="6" {% if model_index == 6 %}selected{% endif %}>نبرد نامتقارن بدون شیوع بیماری
                    </option>
                    <option value="7" {% if model_index == 7 %}selected{% endif %}>نبرد آتش مستقیم با الگوریتم مونت
                        کارلو
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="alpha">مرتبه مشتق</label>
                <input type="number" class="form-control" id="alpha" name="alpha" step="0.1" value="{{ alpha }}"
                       required>
            </div>
            <div class="form-group">
                <label for="r_a">نرخ تلفات گروه ۱</label>
                <input type="number" class="form-control" id="r_a" name="r_a" step="0.1" value="{{ r_a }}" required>
            </div>
            <div class="form-group">
                <label for="r_b">نرخ تلفات گروه ۲</label>
                <input type="number" class="form-control" id="r_b" name="r_b" step="0.1" value="{{ r_b }}" required>
            </div>
            <div class="form-group">
                <label for="a_0">جمعیت اولیه گروه ۱</label>
                <input type="number" class="form-control" id="a_0" name="a_0" step="1" value="{{ a_0 }}" required>
            </div>
            <div class="form-group">
                <label for="b_0">جمعیت اولیه گروه ۲</label>
                <input type="number" class="form-control" id="b_0" name="b_0" step="1" value="{{ b_0 }}" required>
            </div>
            <div id="k1-k2-fields"
                 {% if model_index != 2 and model_index != 4 and model_index != 5 %}style="display: none;"{% endif %}>
                <div class="form-group">
                    <label for="k1">نرخ شیوع گروه ۱</label>
                    <input type="number" class="form-control" id="k1" name="k1" step="0.1" value="{{ k1 }}" required>
                </div>
                <div class="form-group">
                    <label for="k2">نرخ شیوع گروه ۲</label>
                    <input type="number" class="form-control" id="k2" name="k2" step="0.1" value="{{ k2 }}" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary form-group">شبیه‌سازی</button>
        </form>
        <div class="image-container">
            {% if image_base64 %}
                <img src="data:image/png;base64,{{ image_base64 }}" alt="شبیه‌سازی معادلات لانچستر">
            {% endif %}
        </div>
    </div>

</div>
<div class="war-container">
    <div class="group-a">
        <div class="soldiers">
            <!-- Soldier icons will be dynamically added here -->
        </div>
        <div class="group-name">تعداد نیروهای گروه ۱</div>
        <div class="group-name" id="group-a-count"></div>
    </div>
    <div class="group-b">
        <div class="soldiers">
            <!-- Soldier icons will be dynamically added here -->
        </div>
        <div class="group-name">تعداد نیروهای گروه ۲</div>
        <div class="group-name" id="group-b-count"></div>
    </div>
</div>

<script>
    const A = {{ a_app }};
    const B = {{ b_app }};
    const groupASoldiers = document.querySelector('.group-a .soldiers');
    const groupACount = document.getElementById('group-a-count');
    const groupBSoldiers = document.querySelector('.group-b .soldiers');
    const groupBCount = document.getElementById('group-b-count');

    let index = 0;

    let lastUpdateTime = performance.now();
    const updateInterval = 50; // 100ms delay between updates
    const maxSoldierNumber = 9

    function updateSoldierCount(currentTime) {
        const elapsedTime = currentTime - lastUpdateTime;

        if (elapsedTime >= updateInterval) {
            groupASoldiers.innerHTML = '';
            groupBSoldiers.innerHTML = '';

            for (let i = 0; i < A[index]; i++) {
                if (i < maxSoldierNumber) {
                    const soldier = document.createElement('div');
                    soldier.classList.add('soldier-a');
                    groupASoldiers.appendChild(soldier);
                }
            }

            for (let i = 0; i < B[index]; i++) {
                if (i < maxSoldierNumber) {
                    const soldier = document.createElement('div');
                    soldier.classList.add('soldier-b');
                    groupBSoldiers.appendChild(soldier);
                }
            }
            if (A[index] < 0 || B[index] < 0) {
                return
            }
            groupACount.textContent = A[index]
            groupBCount.textContent = B[index]
            index++;

            lastUpdateTime = currentTime;

            if (index < A.length) {
                requestAnimationFrame((time) => updateSoldierCount(time, index));
            }
        } else {
            requestAnimationFrame((time) => updateSoldierCount(time, index));
        }
    }

    updateSoldierCount(performance.now(), index);
</script>
<script>
    function toggleFields() {
        var modelIndex = document.getElementById("model_index").value;
        var k1K2Fields = document.getElementById("k1-k2-fields");

        if (modelIndex == 2 || modelIndex == 4 || modelIndex == 5) {
            k1K2Fields.style.display = "block";
        } else {
            k1K2Fields.style.display = "none";
        }
    }
</script>
</body>
</html>